.register-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 6rem;
  min-height: 100vh;
  background-color: #fff8e4;
  font-family: 'Poppins', sans-serif;
}

/* Caja */
.register-box {
  background: #ffffffd0;
  padding: 2.3rem 2.8rem;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 380px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Título */
h2 {
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

/* Inputs */
.register-input {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 0.9rem;
  border-radius: 6px;
  border: none;
  background: #003c4f; 
  color: #fff;
  font-size: 0.95rem;
  outline: none;
  text-align: center;
}

.register-input::placeholder {
  color: #cfe8ef;
}

/* Botón */
.register-btn {
  width: 100%;
  background-color: #ff914d;
  color: #000;
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
  margin-top: 0.3rem;
  transition: 0.2s ease all;
}

.register-btn:hover {
  background-color: #ff7a29;
  transform: translateY(-2px);
}

/* Mensaje */
.message {
  margin-top: 1rem;
  color: #444;
  font-size: 0.9rem;
}

/* Texto inferior */
.login-text {
  margin-top: 1.2rem;
  font-size: 0.9rem;
}

.login-link {
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}
