<header class="main-header">
  <div class="logo">
    <a routerLink="/">
      <img
  class="logo-img"
  [src]="logoUrl"
  alt="Game Zone Logo"
  (error)="onLogoError($event)"
>
    </a>
  </div>

  <nav class="navigation">
    <ul class="nav-links">
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/videogames">Videojuegos</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/studios">Estudios</a></li>
      <li *ngIf="isLoggedIn"><a routerLink="/lists">Listas</a></li>
      <li *ngIf="isAdmin"><a routerLink="/users">Usuarios</a></li>

      <li *ngIf="!isLoggedIn"><a routerLink="/login">Iniciar sesión</a></li>
      <li *ngIf="!isLoggedIn"><a routerLink="/register">Registrarse</a></li>

      <li *ngIf="isLoggedIn" class="user-avatar">
        <a routerLink="/account" class="avatar-link">
          <img
            src="http://localhost:8080/img/default.png"
            alt="Avatar de usuario"
            class="avatar-img"
            onerror="this.src='assets/default-avatar.png'"
          >
        </a>
      </li>

      <button class="theme-btn" (click)="toggleDarkMode()">
  🌓
</button>

      <li *ngIf="isLoggedIn"><a (click)="logout()">Cerrar sesión</a></li>
    </ul>
  </nav>
</header>
