.container {
  background: #faf6ed;
  padding: 2rem;
  border-radius: 12px;
}

table {
  border-radius: 8px;
  overflow: hidden;
}

th {
  background-color: #004d61;
  color: #fff;
}

button {
  font-weight: bold;
  border-radius: 6px;
}
