/* Fondo general */
.login-wrapper {
  width: 100%;
  min-height: calc(100vh - 120px);
  background: #fff8e4;

  display: flex;
  justify-content: center;
  align-items: flex-start; /*  ⬅️ Lo sube */
  padding-top: 80px;       /*  ⬅️ Ajusta cuánto sube */
}

/* Caja del login */
.login-box {
  text-align: center;
  width: 90%;
  max-width: 350px;

  background: #fff8e4;
  padding: 25px;

}

/* Título */
.login-box h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #000;
}

/* Inputs */
.login-input {
  width: 100%;
  padding: 8px 12px;
  margin-bottom: 12px;
  border: none;
  border-radius: 4px;
  background: #003f51; /* Azul oscuro exacto del mockup */
  color: white;
  font-size: 14px;
}

.login-input::placeholder {
  color: #d6e4e8;
}

/* Botón */
.login-btn {
  background: #ff9642; /* Naranja exacto */
  border: none;
  padding: 7px 10px;
  width: 70%;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: 0.2s ease-in-out;
}

.login-btn:hover {
  background: #e88436;
}

/* Error */
.error {
  color: #d32f2f;
  font-size: 13px;
  margin-top: 10px;
}

/* Enlace de registro */
.register {
  font-size: 12px;
  margin-top: 10px;
}

.register a {
  color: #000;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}
