<footer class="footer">
  <div class="footer-container">
    <!-- LOGO -->
    <div class="footer-section logo-section">
      <img
        src="http://localhost:8080/img/logooscuro.png"
        alt="Game Zone Logo"
        class="footer-logo"
        (error)="onImageError($event)"
      />
      <p class="footer-slogan">Tus videojuegos favoritos en una sola página</p>
    </div>

    <!-- NAVEGACIÓN -->
    <div class="footer-section">
      <h4 class="footer-title">Navegación</h4>
      <ul>
        <li><a routerLink="/">Inicio</a></li>
        <li><a routerLink="/videogames">Videojuegos</a></li>
        <li><a routerLink="/studios">Estudios</a></li>
        
      </ul>
    </div>

    <!-- CONTACTO -->
    <div class="footer-section">
      <h4 class="footer-title">Contacto</h4>
      <a href="mailto:game-zone&#64;gmail.com" class="footer-contact">game-zone&#64;gmail.com</a>
    </div>

    <!-- REDES SOCIALES -->
    <div class="footer-section">
      <h4 class="footer-title">Nuestras Redes</h4>
      <p class="footer-subtitle">Sociales</p>
      <div class="footer-social">
        <img
          src="http://localhost:8080/img/facebook.png"
          alt="Facebook"
          (error)="onImageError($event)"
        />
        <img src="http://localhost:8080/img/x.png" alt="X" (error)="onImageError($event)" />
        <img
          src="http://localhost:8080/img/github.png"
          alt="GitHub"
          (error)="onImageError($event)"
        />
      </div>
    </div>
  </div>

  <hr class="footer-divider" />

  <div class="footer-bottom">
    <div>
      <p class="fw-bold mb-0">Copyright © Game Zone 2025.</p>
      <p class="mb-0">Todos los derechos reservados.</p>
    </div>
    <div class="footer-links">
      <a href="#">Avisos Legales</a>
      <a href="#">Política de Privacidad</a>
    </div>
  </div>
</footer>
