.footer {
  background-color: #000;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  padding: 40px 0;

  .footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 40px;
    align-items: start;
    justify-items: center;
    padding: 0 40px;
  }

  .footer-logo {
    width: 100px;
    margin-bottom: 10px;
  }

  .footer-slogan {
    font-size: 0.8rem;
    color: #ccc;
    margin-top: 8px;
  }

  .footer-title {
    font-weight: 700;
    margin-bottom: 12px;
    font-size: 1rem;
  }

  ul {
    list-style: none;
    padding: 0;
    li {
      margin: 6px 0;
      a {
        color: #fff;
        text-decoration: none;
        font-weight: 400;
        &:hover {
          color: #ffcc00;
        }
      }
    }
  }

  .footer-contact {
    color: #ffef7a;
    text-decoration: none;
    font-weight: 500;
    &:hover {
      text-decoration: underline;
    }
  }

  .footer-social {
  display: flex;
  gap: 15px;
  img {
    width: 30px;
    height: 30px;
    transition: transform 0.2s ease-in-out;
    &:hover {
      transform: scale(1.1);
      opacity: 0.8;
    }
  }
}

  .footer-divider {
    margin: 30px auto;
    border-color: rgba(236, 236, 236, 0.459);
    width: 90%;
  }

  .footer-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85rem;
    padding: 0 40px;
    .footer-links a {
      color: #fff;
      margin-left: 20px;
      text-decoration: none;
      font-weight: 600;
      &:hover {
        color: #ffcc00;
      }
    }
  }
}
