<div class="hero-header">
    
</div>

<section class="container my-5">
    <h2 class="text-center fw-bold mb-4">SOBRE GAME ZONE:</h2>
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="about-gamezone-box text-white rounded-5 shadow">
                <p class="lead text-center mb-0">La página esta diseñada para los usuarios que quieran consultar cualquier dato en concreto de cualquier videojuego, por ejemplo en que plataforma esta disponible o que estudio lo ha hecho. Crear tus propias listas con los videojuegos que hayas jugado, leer, puntuar cualquier videojuego y escribir reseñas.</p>
            </div>
        </div>
    </div>
</section>