<div class="lists-wrapper">

  <h2 class="title">📚 Mis listas</h2>

  <!-- CREAR LISTA -->
  <div class="create-box shadow-sm">
    <input type="text" class="form-control input-create" placeholder="Escribe el nombre de la nueva lista..."
      [(ngModel)]="newListName" />

    <button class="btn btn-success btn-create" (click)="createList()">
      ➕ Crear lista
    </button>
  </div>

  <!-- SEPARADOR -->
  <div class="separator"></div>

  <!-- LISTAS DEL USUARIO -->
  <div class="lists-grid">
    <div class="list-card shadow-sm" *ngFor="let list of lists">

      <div class="list-info">
        <h4>{{ list.name }}</h4>
        <small class="text-muted">📅 {{ list.createdDate | date:'short' }}</small>
      </div>

      <div class="buttons">
        <button class="btn btn-outline-primary" (click)="goToEditPage(list.id)">✏ Editar</button>
        <button class="btn btn-outline-danger" (click)="deleteList(list.id)">🗑</button>
      </div>

    </div>
  </div>

</div>