.forbidden-container { 
 text-align: center; 
 margin-top: 50px; 
} 
 
.forbidden-container h1 { 
 font-size: 2.5rem; 
 color: #d32f2f; 
} 
 
.forbidden-container p { 
 font-size: 1.2rem; 
 color: #555; 
} 
 
.forbidden-container a { 
 text-decoration: none; 
 color: #1976d2; 
 font-weight: bold; 
} 
 
.forbidden-container a:hover { 
 color: #1565c0; 
} 

.forbidden-container { 
    text-align: center; 
    margin-top: 50px; 
    /* Opcional: Centrar en la pantalla. Puedes usar padding-top o margin-top */
    /* margin-top: 20vh; */
}